*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2a2a2a;
    display:flex;
    min-height:100vh;
    /* justify-content:center; */
    align-items:center;
    flex-direction: column;
    gap: 50px   ;
    /* padding: 50px 0; */
}
*{
    list-style-type:none;
}
.content{
    width: 100%;
    max-width: 500px;
    .cart{
    background-color:#1e1e1e;
    padding:12px;
    border-radius:5px;
    min-width:340px;
    color:white;
    .add-to-cart{
        border:2px solid black;
        min-height:120px;
        padding:2px 12px;
        ul{
        list-style-type:none;
        margin:8px 0;
        padding: 8px 16px;
        border-radius:2px;
        li{
            display:flex;
            justify-content:space-between;
            background-color:#9a9a9a;
            padding:10px;
            border-radius:4px;
            margin-bottom:8px;
            font-size: large;
            button{
                padding: 5px 10px;
                border-radius: 4px;
            }
        }
        }
    }
    .buy{
            border: 2px solid white;
            padding: 16px;
            background: wheat;
            color: black;
            border-radius: 4px;
            margin-top: 8px;
            display:flex;
            flex-direction:column;

        .buying-items{
            li{
                margin-bottom: 6px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: x-large;
                .check-box{
                    accent-color: green;
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .total{
            align-self: end;
            font-weight: 700;
            margin: 8px 0 ;
        }
        button{
            display: none;
            width: 100px;
            margin-bottom: 6px;
            align-self: end;
            padding: 8px 12px;
            font-weight: 600;
        }
        }
    }
}
        
.add-products{
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 300px;
        max-width: 600px;
        width: 100%;   
        
        input{
            padding: 4px 12px;
            border-radius: 4px;
            font-size: large;
        }
        button{
            width: fit-content;
            padding: 4px 12px;
            margin: auto;
            font-size: large;
            font-weight: 700;
            border-radius: 5px;
        }
    }
}

.User_Name{
    background-color:rgba(37, 200, 249, 0.758) ;
    padding: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    width:300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    animation: popup .5s ease-in-out ;
    
        .user_name,.password{
            width: 100%;
            height: 3rem;
            border-radius: 6px;
            padding: 2px 12px;
            font-size: large;
            font-weight: 600;
            margin-bottom: 8px;
        }
        .sub_btn{
            width: 100%;
            height: 2.3rem;   
            border-radius: 5px;
            font-size: large;
            font-weight: 600;
            text-transform: capitalize;
            /* padding: 12px; */
            &:hover{
                background-color: rgba(37, 200, 249, 0.758);
                cursor: pointer;
                box-shadow: 3px 3px 3px white,inset 3px 3px 3px white;
                color: white;
            }
        }
    
}
@keyframes popup {
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-90%,-90%);
        scale: 0.5;
    }
    100%{
        scale: 1;
    }
}


.header{
    width: 100%;
    height: 40px;
    background-color: rgb(255 128 247);
    display:flex;
    justify-content: center;
    nav{
        width: 100%;
        height: 100%;
        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        position: relative;
        .log,.user{
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-size: 1.3rem;
        }
        .log{
            font-size: 2rem;
            font-family: sans-serif;
        }
        #exit{
            /* padding: 10px; */
            font-size: 1.3rem;
            background: rgb(255, 40, 40);
            display: block;
            position: absolute;
            right: 5px;
            top: 45px;
            padding: 4px 18px;
            border-radius: 2rem;
            cursor: pointer;
            text-transform: capitalize;
            display: none;
        }
    }
}




main{
    display: none;
}